<div class="contact">
  <h2>Contact Me</h2>
  <ul>
    <li>Nik W <em>(They/Them)</em></li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Taunton, England</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:hi@nik.codes">hi@nik.codes</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://nik.codes">https://nik.codes</a></li>
    <li><span class="li-icon">{% include svg/linkedin.svg %}</span><a href="https://www.linkedin.com/in/{{ site.social.linkedin }}">https://www.linkedin.com/in/{{ site.social.linkedin }}</a></li>
    <li><span class="li-icon">{% include svg/github.svg %}</span><a href="https://github.com/{{ site.social.github }}">@{{ site.social.github }}</a></li>
  </ul>
</div>
